h1 { 
    color:white;
    background-color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: 100;
}

hr {
    background-color: red;
    height: 5px;
}

h2 {
    color:white;
    background-color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    margin: auto;
}

