h1 { 
    color:white;
    background-color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: 100;
    margin: auto;
}

hr {
    background-color: red;
    height: 5px;
    border: none;
}

#linea {
    background-color: #DD4C4D;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 2px;
}

h2 {
    color:white;
    background-color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    margin: auto;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.columnaTexto {
    background-color: red;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
    text-align: center;
    height: 100px;
}

#parrafo {
    font-weight: bold;
    color: yellow;
    text-align: center;
}

#parrafoDos {
    color: white;
    background-color: blue;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;    
    height: 30px;
    margin: auto;
    padding: 10px;
}

.autosFilaUno {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.autosFilaDos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.honda, .nissan, .toyota, .mazda, .hyundai, .kia, .mitsubishi, .suzuki {
    text-align: center;
}

.honda a, .nissan a, .toyota a, .mazda a, .hyundai a, .kia a, .mitsubishi a, .suzuki a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.honda a:hover, .nissan a:hover, .toyota a:hover, .mazda a:hover, .hyundai a:hover, .kia a:hover, .mitsubishi a:hover, .suzuki a:hover {
    color: red;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}